<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>AdvancedFunctions</id><name>高级侧栏</name><url>http://www.zsxsoft.com</url><note>加几个新侧栏上去</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>130722</adapted><version>2.1</version><pubdate>2013-4-13</pubdate><modified>2013-8-3</modified><description><![CDATA[为Z-Blog添加新侧栏]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict>AdvancedFunction</conflict></advanced></plugin>
