<div class="entry clearfix">
	<h1><a class="post-title" href="<#article/url#>" rel="bookmark"><#article/title#></a></h1>	
	<div class="post-meta">
		作者: <#article/firsttagintro#> | 
		<#article/posttime/longdate#> | 
		分类: <a href="<#article/category/url#>" title="<#article/category/name#>" rel="category tag"><#article/category/name#></a> | 
		评论: <#article/commnums#> | 
		浏览: <#article/viewnums#>
	</div><!-- END post-meta --> 

	<div class="clear"></div>
	<div class="entry-content">
		<#article/intro#>
		<span class="readmore"><a href="<#article/url#>">阅读全文...</a></span>
	</div>
	<!-- END post-bottom -->
</div><!-- END entry -->

