<div class="content alpha  cate<#article/category/id#> auth<#article/author/id#>">
<script type="text/javascript">
$("#blog-loading div").animate({width:"30%"})
</script>
<div class="entry clearfix breadcrumbs">
<a href="<#ZC_BLOG_HOST#>"><#ZC_BLOG_TITLE#></a> &raquo; <a href="<#article/category/url#>" title="查看 <#article/category/name#> 中的全部文章"><#article/category/name#></a> &raquo; <span><#article/title#></span>
</div>
    <div class="entry clearfix">
        <h1><a class="post-title" href="<#article/url#>" rel="bookmark"><#article/title#></a></h1>
	<div class="post-meta">
		作者: <#article/firsttagintro#> | 
		<#article/posttime/longdate#> | 
		分类: <a href="<#article/category/url#>" title="<#article/category/name#>" rel="category tag"><#article/category/name#></a> | 
		评论: <#article/commnums#> | 
		浏览: <#article/addviewcount#>
	</div><!-- END post-meta -->
        <div class="clear"></div>
		<div class="entry-content">
		<#article/content#>
		</div>
	<div class="post-bottom"><div class="post-tags-pig"><#template:article_tag#></div></div><!-- END post-bottom -->
        </div><!-- END entry -->
<div class="entry clearfix authorinfo">
<nav class="nextprevious">
<#template:article_navbar_l#><#template:article_navbar_r#>
</nav>
<div class="clear"></div>
</div>
<!-- You can start editing here. -->
<div class="entry clearfix">
	<h4 id="mutualitybox"><#ZC_MSG231#></h4>
	<ul class="divComments">
	<li class="msgarticle"><#template:article_mutuality#></li>
	<li class="msgtime"> </li>
	</ul>
</div>
<div id="commentsbox">
	<#template:article_comment#>
	<#template:article_comment_pagebar#>
	<#template:article_commentpost#>
</div>
<script type="text/javascript">
$("#blog-loading div").animate({width:"45%"})
</script>
</div><!-- END content -->