<ol class="commentlist">
	<li class="comment even thread-even depth-1 parent" id="comment-<#article/comment/id#>">
		<div id="div-comment-<#article/comment/id#>" class="comment-body">
		<div class="comment-author vcard">
		<cite class="fn"><#article/comment/count#>. <a name="cmt<#article/comment/id#>"><#article/comment/name#></a></cite> <span class="says">说道：</span>		<span class="comment-meta commentmetadata" style="float:right"><#article/comment/posttime#></span></div>
		<div class="comment-meta commentmetadata">		</div>
		<#article/comment/content#>
		</div>
	</li>
</ol>