<div id="comment-form">
<div id="respond" class="respond">
<h3 id="comments-respond"><#ZC_MSG024#></h3>
<div class="cancel-comment-reply">
<a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">点击这里取消回复。</a>
</div>
<form action="<#article/commentposturl#>" method="post" id="frmSumbit" target="_self">
<input type="hidden" name="inpId" id="inpId" value="<#article/id#>" />
	<input type="hidden" name="inpArticle" id="inpArticle" value="" />
	<input type="hidden" name="inpLocation" id="inpLocation" value="" />
<input type="text" name="inpName" id="inpName"  value="<#ZC_MSG001#>" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" size="22" tabindex="1" />
<input type="text" name="inpEmail" id="inpEmail" value="<#ZC_MSG053#>" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" size="22" tabindex="2" />
<input type="text" name="inpHomePage" id="inpHomePage" value="<#ZC_MSG054#>" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" size="22" tabindex="3" />
<#template:article_commentpost-verify#>
<textarea name="txaArticle" id="txaArticle" cols="100%" rows="10" tabindex="5"  onkeydown="if(event.ctrlKey&&event.keyCode==13){document.getElementById('commentSubmit').click();return false};"></textarea>
<br />
<p style="display: none;"><input type="checkbox" name="chkRemember" checked="true" id="chkRemember" /> <label for="chkRemember"><#ZC_MSG049#></label></p>
<input name="btnSumbit" type="submit" id="commentSubmit" tabindex="6" value="提交 (Ctrl+Enter)" onclick="JavaScript:return VerifyMessage()"/>
<script language="JavaScript" type="text/javascript">LoadRememberInfo();</script>
</form>
</div>
</div>