<#TEMPLATE_HEADER#>
	<title><#BlogTitle#><#ZC_MSG044#><#ZC_BLOG_TITLE#></title>
</head>
<body class="home blog">
	<div id="blog-loading"><div></div></div>
<div id="wrap" class="container clearfix">
	<div class="header_wrap">
		<div id="header" class="clearfix">
			<div id="logo">
				<h2><a href="<#ZC_BLOG_HOST#>" title="<#ZC_BLOG_TITLE#>" rel="home bookmark"><#ZC_BLOG_TITLE#></a></h2>
			</div><!-- END logo --> 
		</div><!-- END header -->
		<label for="menu-toggle" class="navbar-toggle collapsed">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</label>
		<div id="navigation" class="clearfix">
		<input type="checkbox" id="menu-toggle" class="hidden"/>
		<ul class="sf-menu navbar-nav">
			<#CACHE_INCLUDE_NAVBAR#>
		</ul>
		</div><!-- END navigation -->
	</div>
	<script type="text/javascript">$("#blog-loading div").animate({width:"15%"})</script>
	
	<div id="main" class="container">
		<div class="content alpha">
			<script type="text/javascript">$("#blog-loading div").animate({width:"30%"})</script>
			<div class="content alpha">
				<script type="text/javascript">
				$("#blog-loading div").animate({width:"30%"})
				</script>

					<div class="entry clearfix">
						<h1><a class="post-title" href="<#article/url#>" rel="bookmark"><#article/title#></a></h1>	
					<div class="post-meta"></div><!-- END post-meta --> 
						<div class="clear"></div>
						<div class="entry-content">
							<#article/content#>
						</div><!-- END post-bottom -->
						
						</div><!-- END entry -->

				<script type="text/javascript">
				$("#blog-loading div").animate({width:"45%"})
				</script>
				</div><!-- END content -->   
			<div class="pagination clearfix"></div>
			<script type="text/javascript">$("#blog-loading div").animate({width:"45%"})</script>
		</div><!-- END content --> 
		   
		<div id="sidebar" class="sidebar alpha omega"> 
			<script type="text/javascript">$("#blog-loading div").animate({width:"65%"})</script>
			<#template:sidebar#>
		</div><!-- END sidebar -->
		<script type="text/javascript">$("#blog-loading div").animate({width:"80%"})</script>
	</div><!-- END container -->
</div><!-- END wrap --> 
<script type="text/javascript">$("#blog-loading div").animate({width:"100%"})</script>
<#TEMPLATE_FOOTER#>