<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>BaiduRWUD</id><name>百度主动推送</name><url>http://www.wdssmq.com/Rnd/</url><note>百度主动推送</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>沉冰浮水</name><email>wdssmq@qq.com</email><url>http://www.wdssmq.com</url></author><adapted>130722</adapted><version>1.0</version><pubdate>2015/9/17</pubdate><modified>2017-6-19</modified><description><![CDATA[置百丈玄冰而崩裂，掷须臾池水而漂摇。]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
<!-- app_host:http://zb.wdssmq.tk/;app_email:wdmbts@qq.com;app_user:语言黑洞; -->