<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>CustomIntro</id><name>自定义摘要长度</name><url>http://www.huisem.com/archives/CustomIntro.html</url><note>自定义摘要长度</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>流年</name><email>841217204@qq.com</email><url>http://www.huisem.com</url></author><adapted>140101</adapted><version>1.0</version><pubdate>2015-04-26</pubdate><modified>2015-04-26</modified><description><![CDATA[自定义摘要长度]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
